.container-fluid {
  padding: 20px 20px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.navbar {
  margin-bottom: 0;
  background-color: #9B391A;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar .nav li a, .navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li.active a {
  color: #9B391A;
  background-color: #fff;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff;
}

.navbar-fixed-bottom {
  background-color: #f6f6f6;
}

.navbar-fixed-bottom a {
  background-color: #f6f6f6;
  color: #9B391A;
}

.nav.nav-tabs li a {
  color: #9B391A;
  font-weight: 500;
}

.nav.nav-tabs li.active a {
  color: #fff;
  background-color: #9B391A;
}
